@import "./variables";

/* 반응형 */
@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}){
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and  (max-width: #{$breakpoint-desktop - 1px}){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop){
    @content;
  }
}

/*중복 방지 mixin*/

/*information 부분*/
@mixin info_imgs {
  width: 10rem;
  border-radius: 50%;
  float: left;
  height: 10rem;
}

@mixin information_align{
  margin-top: 3rem;
  width: 25rem;
  height: 10rem;
  float: left;
  font-size: 2rem;
  line-height: 5rem;
}
@mixin border{
  border: 2px solid $maincolor2;
}

@mixin main_name_padding{
  padding: 0 0 5rem 0;
}
@mixin left_languageImgs{
  width: 25rem;
  height: 100%;    
  float: left;
  li{
    width: 20rem;
    height: 5rem;
    background: $maincolor;
    margin: 3rem 0 0 1rem;
    text-align: center;
    border-radius: 3rem;
    padding-left: 2rem;
    box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem $boxshadow;
    
    }
  p{
    padding-top: 1.35rem;
    }
  .languageImgs{
    float: left;
    width: 4rem;
    height: 4rem;
    margin-top: 0.5rem;
    background-size: cover;
    }
}

@mixin left_languageImgs_mobile{
  width: 10rem;
  li{
      width: 10rem;
      height: 2rem;
      border-radius: 0;
      box-shadow:none;
      background: none;
      text-align: left;
      padding: 0;
  }
  .languageImgs{
    display: none;
  }

  p{
    padding-top: 0;
    }
}

@mixin right_languageAbility{
  width: 80rem;
  height: 100%;
  float: left;         
  li{
    float: left;
    width: 70rem;
    height: 3rem;
    margin-top: 5rem;
    margin-left: 5rem;
    background: rgb(233, 229, 229);
    position: relative;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0.3rem 0.2rem 1rem 0.1rem $boxshadow;

    }
  p{ 
    padding: 0.35rem 1rem;
    position: absolute;
  }
  
  .languageSkill{
    position: absolute;
    border-radius: 0 1rem 1rem 0;;
    background: lightgreen;
    height: 100%;
    }
}

@mixin right_languageAbility_mobile{
  width: 20rem;
  li{
    width: 18rem;
    height: 2rem;
    margin:3rem 0 0 0;
 }
}

@mixin up_arrow{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  right: 0;
  top: 50%;
  margin-top: -4.5rem;
  position: absolute;
  cursor: pointer;
  background:url('../img/arrow/up.png') center no-repeat;
  &:hover{
    transform: translateY(-1rem);
    background-color: $maincolor;
  }
}

@mixin down_arrow{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  right: 0;
  top: 50%;
  position: absolute;
  cursor: pointer;
  background:url('../img/arrow/down.png') center no-repeat;
  &:hover{
    transform: translateY(1rem);
    background-color: $maincolor;
  }
}