$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$maincolor: rgb(250, 221, 221);
$maincolor2: rgb(241, 151, 150);
$caption: rgba(121, 115, 115, 0.5);
$boxshadow: gray;