@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* 반응형 */
/*중복 방지 mixin*/
/*information 부분*/
/*
header: 80

main_article: 5320
section2 main_naming : 400
section3 info: 600
section4 skills: 800
section5 achieve:500
section6 project_web:2020
section7 project_others:1000

footer: 150   

entire: 5450

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
}

a:visited {
  color: black;
}

.main_name {
  font-size: 2.2rem;
}

.container {
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
  /*section1 header*/
  /*section8 footer*/
}

.container #header {
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 9999;
  transition: 0.2s ease-in;
}

@media (max-width: 767px) {
  .container #header {
    width: 100%;
    height: 6rem;
  }
}

@media (max-width: 767px) {
  .container #header .category .mobile_hidden {
    display: none;
  }
}

.container #header .category li:not(li:first-child) {
  float: left;
  font-size: 2rem;
  margin: 2.85rem 2rem;
}

@media (max-width: 767px) {
  .container #header .category li:not(li:first-child) {
    float: right;
    margin: 0;
  }
}

.container #header .category li:not(li:first-child):hover {
  text-decoration: underline;
}

.container #header .category .logo {
  float: left;
  font-size: 4.7rem;
  font-family: 'Dancing Script', cursive;
  margin: 1.2rem 2rem;
}

@media (max-width: 767px) {
  .container #header .category .logo {
    width: 8rem;
    font-size: 3rem;
    margin: 1rem 2rem;
  }
}

@media (min-width: 1024px) {
  .container #header .category .hamburgerBt {
    display: none;
  }
}

.container .main__article {
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  /*section2 메인 네이밍*/
  /*section3 information*/
  /*section4 skills*/
  /*section5 achieve*/
  /*section6 project_web*/
  /*section7 project_others*/
}

@media (max-width: 767px) {
  .container .main__article {
    padding-top: 6rem;
  }
}

.container .main__article #main__tit {
  max-width: 100%;
  height: 50rem;
  background: url("../img/study.png") no-repeat left;
  background-size: cover;
}

@media (max-width: 767px) {
  .container .main__article #main__tit {
    height: 25rem;
  }
}

.container .main__article #main__tit h1 {
  color: white;
  font-size: 9rem;
  font-family: 'Dancing Script', cursive;
  padding: 3rem;
}

@media (max-width: 767px) {
  .container .main__article #main__tit h1 {
    font-size: 4rem;
  }
}

.container .main__article #info {
  padding-top: 5rem;
  width: 100%;
  height: 80rem;
}

@media (max-width: 767px) {
  .container .main__article #info {
    height: 100rem;
  }
}

.container .main__article #info .wrap {
  width: 110rem;
  height: 60rem;
  margin: auto;
  position: relative;
  border: 2px solid #fadddd;
  box-shadow: 0.3rem 1rem 1.5rem 0.3rem gray;
}

@media (max-width: 767px) {
  .container .main__article #info .wrap {
    width: 30rem;
    height: 80rem;
  }
}

.container .main__article #info .info__topFixContainer {
  width: 100%;
  height: 25rem;
  background: white;
  position: relative;
}

.container .main__article #info .info__topFixContainer h1 {
  position: absolute;
  top: 50%;
  left: 60%;
  margin: 3rem;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
}

@media (max-width: 767px) {
  .container .main__article #info .info__topFixContainer h1 {
    top: 2rem;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    font-size: 4rem;
  }
}

.container .main__article #info .info__bottomContainer {
  width: 100%;
  height: 35rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .container .main__article #info .info__bottomContainer {
    height: 55rem;
  }
}

.container .main__article #info .info__bottomContainer .info__me {
  width: 100%;
  height: 35rem;
  background: #fadddd;
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .container .main__article #info .info__bottomContainer .info__me {
    height: 55rem;
  }
}

.container .main__article #info .info__bottomContainer .info__me .information {
  margin-top: 3rem;
  width: 25rem;
  height: 10rem;
  float: left;
  font-size: 2rem;
  line-height: 5rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.container .main__article #info .info__bottomContainer .info__me .infoMe__writing {
  width: 60rem;
  margin-left: 40%;
}

.container .main__article #info .info__bottomContainer .info__me .infoMe__writing .aboutMe_tit {
  font-size: 2.3rem;
}

.container .main__article #info .info__bottomContainer .info__me .infoMe__writing .introduce {
  font-size: 1.8rem;
}

@media (max-width: 767px) {
  .container .main__article #info .info__bottomContainer .info__me .infoMe__writing {
    padding-top: 13rem;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .container .main__article #info .info__bottomContainer .info__me .infoMe__writing .aboutMe_tit {
    font-size: 1.8rem;
    text-align: center;
  }
  .container .main__article #info .info__bottomContainer .info__me .infoMe__writing .introduce {
    font-size: 1.3rem;
    line-height: 4rem;
  }
}

.container .main__article #info .info__bottomContainer .info__me .info__contact {
  width: 100%;
  height: 35rem;
  background: #f19796;
  background-size: cover;
  position: absolute;
  top: 35rem;
  transition: 0.5s ease-in;
}

.container .main__article #info .info__bottomContainer .info__me .info__contact .information {
  margin-top: 3rem;
  width: 25rem;
  height: 10rem;
  float: left;
  font-size: 2rem;
  line-height: 5rem;
}

.container .main__article #info .info__bottomContainer .info__me .info__contact .info__writing {
  margin-left: 40%;
}

@media (max-width: 767px) {
  .container .main__article #info .info__bottomContainer .info__me .info__contact {
    height: 55rem;
    top: 0;
    padding-top: 8rem;
  }
  .container .main__article #info .info__bottomContainer .info__me .info__contact .information {
    width: 10rem;
    height: 40rem;
    font-size: 1.8rem;
  }
  .container .main__article #info .info__bottomContainer .info__me .info__contact .info__writing {
    width: 10rem;
    margin-left: 2rem;
  }
  .container .main__article #info .info__bottomContainer .info__me .info__contact .info__writing2 {
    width: 17rem;
  }
}

.container .main__article #info .info__img1 {
  width: 25rem;
  height: 35rem;
  border: 0.5px solid gray;
  background: url("../img/info/info_profile/me_charactor.png");
  position: absolute;
  top: 10rem;
  left: 10%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .container .main__article #info .info__img1 {
    width: 17rem;
    height: 25rem;
    left: 50%;
    transform: translateX(-50%);
    background: url("../mediaQueryPhone/info/info_profile/me_charactor.png") center no-repeat;
    background-size: cover;
  }
}

.container .main__article #info .info__img1 .info__img2 {
  width: 25rem;
  height: 35rem;
  position: absolute;
  background: url("../img/info/info_profile/me_info.png");
  top: 35rem;
  transition: 0.5s ease-in;
}

@media (max-width: 767px) {
  .container .main__article #info .info__img1 .info__img2 {
    width: 17rem;
    height: 25rem;
    top: 25rem;
    background: url("../mediaQueryPhone/info/info_profile/me_info.png") center no-repeat;
    background-size: cover;
  }
}

.container .main__article #skills {
  height: 80rem;
  position: relative;
}

@media (max-width: 767px) {
  .container .main__article #skills {
    height: 60rem;
  }
}

.container .main__article #skills .main_name_skills {
  padding: 0 0 5rem 0;
}

.container .main__article #skills .button_skills {
  position: absolute;
  font-size: 2rem;
  background: #fadddd;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  right: 0.5rem;
  top: 5rem;
  z-index: 100;
  box-shadow: 0.2rem 0.02rem 0.8rem 0.03rem gray;
}

@media (max-width: 767px) {
  .container .main__article #skills .button_skills {
    font-size: 1.3rem;
    top: 6rem;
  }
}

.container .main__article #skills .button_skills:hover {
  background: #f19796;
  cursor: pointer;
}

.container .main__article #skills .skills_container {
  width: 110rem;
  height: 70rem;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  margin: auto;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container {
    width: 30rem;
    height: 60rem;
    font-size: 1.5rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap {
  width: 110rem;
  height: 50rem;
  margin: auto;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap {
    width: 30rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web {
  float: left;
  width: 110rem;
  height: 100%;
  background: white;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web {
    width: 30rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs {
  width: 25rem;
  height: 100%;
  float: left;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs li {
  width: 20rem;
  height: 5rem;
  background: #fadddd;
  margin: 3rem 0 0 1rem;
  text-align: center;
  border-radius: 3rem;
  padding-left: 2rem;
  box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem gray;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs p {
  padding-top: 1.35rem;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .languageImgs {
  float: left;
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  background-size: cover;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs {
    width: 10rem;
  }
  .container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs li {
    width: 10rem;
    height: 2rem;
    border-radius: 0;
    box-shadow: none;
    background: none;
    text-align: left;
    padding: 0;
  }
  .container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .languageImgs {
    display: none;
  }
  .container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs p {
    padding-top: 0;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .html .htmlImg {
  background: url("../img/skill/web/html.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .css .cssImg {
  background: url("../img/skill/web/css.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .js .jsImg {
  background: url("../img/skill/web/javascript.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .scss .scssImg {
  background: url("../img/skill/web/scss.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .react .reactImg {
  background: url("../img/skill/web/react.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .web .left_languageImgs .jQuery .jQueryImg {
  background: url("../img/skill/web/jQuery.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility {
  width: 80rem;
  height: 100%;
  float: left;
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility li {
  float: left;
  width: 70rem;
  height: 3rem;
  margin-top: 5rem;
  margin-left: 5rem;
  background: #e9e5e5;
  position: relative;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.3rem 0.2rem 1rem 0.1rem gray;
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility p {
  padding: 0.35rem 1rem;
  position: absolute;
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .languageSkill {
  position: absolute;
  border-radius: 0 1rem 1rem 0;
  background: lightgreen;
  height: 100%;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility {
    width: 20rem;
  }
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility li {
    width: 18rem;
    height: 2rem;
    margin: 3rem 0 0 0;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .html {
  margin-top: 4rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .html {
    margin-top: 3rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .html .html_skill {
  width: 63rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .html .html_skill {
    width: 16.2rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .css .css_skill {
  width: 63rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .css .css_skill {
    width: 16.2rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .js .js_skill {
  width: 56rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .js .js_skill {
    width: 14.4rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .scss .scss_skill {
  width: 59.5rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .scss .scss_skill {
    width: 15.3rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .react .react_skill {
  width: 21rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .react .react_skill {
    width: 5.4rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .react .studying {
  position: absolute;
  padding-top: 0.35rem;
  right: 5rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .react .studying {
    font-size: 1rem;
    right: 0;
  }
}

.container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .jQuery .jQuery_skill {
  width: 42rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .web .right_languageAbility .jQuery .jQuery_skill {
    width: 10.8rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other {
  width: 110rem;
  height: 50rem;
  position: absolute;
  transition: 0.5s ease-in;
  left: 110rem;
  background: white;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs {
  width: 25rem;
  height: 100%;
  float: left;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs li {
  width: 20rem;
  height: 5rem;
  background: #fadddd;
  margin: 3rem 0 0 1rem;
  text-align: center;
  border-radius: 3rem;
  padding-left: 2rem;
  box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem gray;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs p {
  padding-top: 1.35rem;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs .languageImgs {
  float: left;
  width: 4rem;
  height: 4rem;
  margin-top: 0.5rem;
  background-size: cover;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs {
    width: 10rem;
  }
  .container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs li {
    width: 10rem;
    height: 2rem;
    border-radius: 0;
    box-shadow: none;
    background: none;
    text-align: left;
    padding: 0;
  }
  .container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs .languageImgs {
    display: none;
  }
  .container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs p {
    padding-top: 0;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs .c .c_Img {
  background: url("../img/skill/others/c.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs .python .python_Img {
  background: url("../img/skill/others/python.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs .java .java_Img {
  background: url("../img/skill/others/java.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .other .left_languageImgs .mysql .mysql_Img {
  background: url("../img/skill/others/mysql.png") center no-repeat;
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility {
  width: 80rem;
  height: 100%;
  float: left;
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility li {
  float: left;
  width: 70rem;
  height: 3rem;
  margin-top: 5rem;
  margin-left: 5rem;
  background: #e9e5e5;
  position: relative;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.3rem 0.2rem 1rem 0.1rem gray;
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility p {
  padding: 0.35rem 1rem;
  position: absolute;
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .languageSkill {
  position: absolute;
  border-radius: 0 1rem 1rem 0;
  background: lightgreen;
  height: 100%;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility {
    width: 20rem;
  }
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility li {
    width: 18rem;
    height: 2rem;
    margin: 3rem 0 0 0;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .c {
  margin-top: 4rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .c {
    margin-top: 3rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .c .c_skill {
  width: 52.5rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .c .c_skill {
    width: 13.5rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .java .java_skill {
  width: 63rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .java .java_skill {
    width: 16.2rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .python .python_skill {
  width: 59.5rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .python .python_skill {
    width: 15.3rem;
  }
}

.container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .mysql .mysql_skill {
  width: 35rem;
}

@media (max-width: 767px) {
  .container .main__article #skills .skills_container .skills_wrap .other .right_languageAbility .mysql .mysql_skill {
    width: 9rem;
  }
}

.container .main__article #achieve {
  height: 60rem;
}

.container .main__article #achieve .wrap {
  width: 110rem;
  height: 60rem;
  margin: auto;
}

@media (max-width: 767px) {
  .container .main__article #achieve .wrap {
    width: 30rem;
  }
}

.container .main__article #achieve .main_name_Achieve {
  padding: 0 0 5rem 0;
}

.container .main__article #achieve .swiper-container {
  width: 50rem;
  height: 30rem;
}

@media (max-width: 767px) {
  .container .main__article #achieve .swiper-container {
    width: 25rem;
  }
}

.container .main__article #achieve .swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: #fadddd;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -0.3rem 0rem 1rem 0.1rem gray;
}

.container .main__article #achieve .swiper-slide:hover .achieve_link {
  opacity: 1;
}

.container .main__article #achieve .swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
}

.container .main__article #achieve .swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.3rem solid #f19796;
  background: pink;
}

.container .main__article #achieve .swiper-button-prev:hover {
  color: #f19796;
  transform: translateX(-0.5rem);
}

.container .main__article #achieve .swiper-button-next:hover {
  color: #f19796;
  transform: translateX(0.5rem);
}

.container .main__article #achieve .achieveSite {
  width: 25rem;
  height: 30rem;
}

.container .main__article #achieve .tistory {
  position: relative;
  line-height: 2.5rem;
}

.container .main__article #achieve .tistory .up {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: url("../img/achieve/tistory.png");
  margin: 2rem 7.5rem;
}

.container .main__article #achieve .achieve_link {
  position: absolute;
  width: 50rem;
  height: 30rem;
  padding-top: 12.8rem;
  text-decoration: underline;
  background: rgba(121, 115, 115, 0.5);
  opacity: 0;
  transition: 0.5s ease-in;
}

.container .main__article #achieve .achieve_link a:hover {
  color: blue;
}

@media (max-width: 767px) {
  .container .main__article #achieve .achieve_link {
    width: 25rem;
    font-size: 1.5rem;
  }
  .container .main__article #achieve .achieve_link a {
    color: white;
  }
}

.container .main__article #achieve .github {
  line-height: 2.5rem;
}

.container .main__article #achieve .github .up {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: url("../img/achieve/github.png");
  margin: 2rem 7.5rem;
}

.container .main__article #project_WEB {
  width: 100%;
  height: 210rem;
}

.container .main__article #project_WEB .projectWeb_tit_wrap {
  width: 110rem;
  margin: auto;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_tit_wrap {
    width: 30rem;
  }
}

.container .main__article #project_WEB .main_name_ProjectWeb {
  padding: 0 0 5rem 0;
}

.container .main__article #project_WEB .projectWeb_container {
  width: 100%;
  height: 125rem;
  margin: auto;
}

.container .main__article #project_WEB .projectWeb_container li {
  width: 100%;
  height: 40rem;
  margin: 5rem auto 5rem auto;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container li {
    height: 20rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .container {
  width: 100rem;
  height: 40rem;
  overflow: hidden;
  margin: auto;
}

.container .main__article #project_WEB .projectWeb_container .container:hover .caption_web {
  opacity: 1;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .container {
    width: 30rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .Project_WEB_mainTit {
  clear: left;
  width: 15rem;
  font-size: 3rem;
  margin: auto;
  padding: 0.5rem;
  border-bottom: 0.2rem solid black;
  text-align: center;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .Project_WEB_mainTit {
    width: 13rem;
    font-size: 2rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .wrap {
  width: 110rem;
  background: rgba(218, 214, 214, 0.103);
  margin: auto;
  position: relative;
}

.container .main__article #project_WEB .projectWeb_container .wrap .up {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  right: 0;
  top: 50%;
  margin-top: -6rem;
  position: absolute;
  cursor: pointer;
  background: url("../img/arrow/up.png") center no-repeat;
}

.container .main__article #project_WEB .projectWeb_container .wrap .up:hover {
  transform: translateY(-1rem);
  background-color: #fadddd;
}

.container .main__article #project_WEB .projectWeb_container .wrap .down {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  right: 0;
  top: 50%;
  position: absolute;
  cursor: pointer;
  background: url("../img/arrow/down.png") center no-repeat;
}

.container .main__article #project_WEB .projectWeb_container .wrap .down:hover {
  transform: translateY(1rem);
  background-color: #fadddd;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .wrap {
    width: 36rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .caption_web {
  width: 100rem;
  height: 40rem;
  background: rgba(121, 115, 115, 0.5);
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in;
}

.container .main__article #project_WEB .projectWeb_container .caption_web .web_tit {
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-top: 10rem;
}

.container .main__article #project_WEB .projectWeb_container .caption_web .web_info {
  font-size: 2rem;
  text-align: center;
  padding-top: 4rem;
  line-height: 5rem;
  color: white;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .caption_web {
    width: 30rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .project_web_link {
  width: 100%;
  height: 4rem;
  position: relative;
  margin-bottom: 5rem;
}

.container .main__article #project_WEB .projectWeb_container .project_web_link .link {
  position: absolute;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: 0.5px solid #f19796;
  padding-top: 1.1rem;
  text-align: center;
  left: 50%;
  margin-left: 3.5rem;
}

.container .main__article #project_WEB .projectWeb_container .project_web_link .link:hover {
  background: #fadddd;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .project_web_link .link {
    margin-left: 1.5rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .project_web_link .github {
  position: absolute;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: 0.5px solid #f19796;
  padding-top: 1.1rem;
  text-align: center;
  left: 50%;
  margin-left: -14.5rem;
}

.container .main__article #project_WEB .projectWeb_container .project_web_link .github:hover {
  background: #fadddd;
}

.container .main__article #project_WEB .projectWeb_container .portfolio {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container .main__article #project_WEB .projectWeb_container .portfolio .portfolio_container {
  width: 100rem;
  height: 40rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .portfolio .portfolio_container {
    width: 30rem;
    height: 20rem;
  }
}

.container .main__article #project_WEB .projectWeb_container .portfolio .portfolio_container .portfolio_project_img {
  width: 100rem;
  height: 293.8rem;
  position: absolute;
  background: url("../img/project/web/EHPortfolio.png") no-repeat;
  top: 0;
  transition: 5s ease-in;
}

@media (max-width: 767px) {
  .container .main__article #project_WEB .projectWeb_container .portfolio .portfolio_container .portfolio_project_img {
    width: 30rem;
    height: 102.1rem;
    background: url("../mediaQueryPhone/project/web/cafe_mobile.png") no-repeat;
  }
}

.container .main__article #project_WEB .projectWeb_container .cafe {
  position: relative;
  overflow: hidden;
}

.container .main__article #project_WEB .projectWeb_container .cafe .cafe_container .cafe_project_img {
  width: 100rem;
  height: 361.1rem;
  position: absolute;
  background: url("../img/project/web/cafeSroty.png");
  top: 0;
  transition: 5s ease-in;
}

.container .main__article #project_WEB .projectWeb_container .portfolio_second {
  position: relative;
  overflow: hidden;
}

.container .main__article #project_WEB .projectWeb_container .portfolio_second .portfolioSecond_container .portfolioSecond_project_img {
  width: 100rem;
  height: 342.4rem;
  position: absolute;
  background: url("../img/project/web/portfolio_second.png");
  top: 0;
  transition: 5s ease-in;
}

.container .main__article .project_others {
  width: 100%;
  height: 110rem;
}

.container .main__article .project_others .wrap {
  width: 110rem;
  height: 110rem;
  margin: auto;
}

.container .main__article .project_others .main_name_ProjectOthers {
  padding: 0 0 5rem 0;
}

.container .main__article .project_others .project_mainTit {
  width: 13rem;
  height: 3rem;
  border-bottom: 0.1rem solid black;
  font-size: 2rem;
  text-align: center;
  margin: auto;
}

.container .main__article .project_others .caption_title {
  font-size: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 5rem 0;
}

.container .main__article .project_others li {
  position: relative;
  float: left;
  width: 40rem;
  height: 33rem;
  text-align: center;
  line-height: 2.8rem;
  font-size: 1.5rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.container .main__article .project_others li:hover .caption_project_others {
  opacity: 1;
}

.container .main__article .project_others .bluemarble {
  float: right;
}

.container .main__article .project_others .project_others_Container {
  width: 110rem;
  height: 35rem;
  margin: 5rem auto;
  padding: 1.5rem 5rem;
  background: rgba(218, 214, 214, 0.103);
}

.container .main__article .project_others .project_others_Container .caption_project_others {
  width: 40rem;
  height: 25rem;
  background: rgba(121, 115, 115, 0.5);
  position: absolute;
  top: 0;
  color: white;
  opacity: 0;
  transition: 0.3s ease-in;
}

.container .main__article .project_others .project_others_Container .up {
  width: 40rem;
  height: 25rem;
}

.container .main__article .project_others .project_others_Container .explain_link {
  width: 40rem;
  height: 8rem;
  margin: auto;
  padding-top: 2.95rem;
}

.container .main__article .project_others .project_others_Container .explain_link a {
  margin: 0 1rem;
}

.container .main__article .project_others .project_others_Container .explain_link .github_link {
  width: 10rem;
  height: 5rem;
  padding: 1rem 3.9rem;
  border: 0.1rem solid #f19796;
  border-radius: 3rem;
}

.container .main__article .project_others .project_others_Container .explain_link .github_link:hover {
  background-color: #fadddd;
}

.container .main__article .project_others .project_others_Container .explain_link .pdf_link {
  width: 16rem;
  height: 5rem;
  padding: 1rem;
  border: 0.5px solid #f19796;
  border-radius: 3rem;
}

.container .main__article .project_others .project_others_Container .explain_link .pdf_link:hover {
  background-color: #fadddd;
}

.container .main__article .project_others .project_others_Container .chatting .chatting_project_img {
  width: 40rem;
  height: 25rem;
  background: url("../img/project/others/chatting.png") center no-repeat;
}

.container .main__article .project_others .project_others_Container .bluemarble .bluemarble_project_img {
  width: 40rem;
  height: 25rem;
  background: url("../img/project/others/bluemarble.png") center no-repeat;
}

.container .main__article .project_others .project_others_Container .tel .tel_project_img {
  width: 40rem;
  height: 25rem;
  background: url("../img/project/others/tel.png") center no-repeat;
}

.container #footer {
  height: 15rem;
  background: #fadddd;
}

.container #footer .footer_logo {
  padding: 3rem;
}

.container #footer .footer_info {
  padding-top: 5rem;
}

.container #footer .footer_info li {
  text-align: center;
  font-size: 1.6rem;
  color: #6b6565;
  line-height: 2.3rem;
}
/*# sourceMappingURL=style.css.map */