@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// font-family: 'Dancing Script', cursive; 영어 필기체
// font-family: 'Noto Sans KR', sans-serif; 한국어
// font-family: 'Karla', sans-serif; 영어


$maincolor: rgb(250,221,221);
$maincolor2: rgb(241,151,150);

@mixin info_imgs {
  width: 10rem;
  border-radius: 50%;
  float: left;
  height: 10rem;
}
@mixin border{
  border: 2px solid $maincolor2;
}

@mixin main_name_padding{
  padding: 5rem;
}
@mixin left_languageImgs{
  width: 20rem;
  height: 100%;    
  float: left;
  li{
    width: 20rem;
    height: 5rem;
    background: $maincolor;
    margin-top: 3rem;
    text-align: center;
    border-radius: 3rem;
    padding-left: 2rem;
    }
  p{
    padding-top: 1.35rem;
    }
  .languageImgs{
    float: left;
    width: 4rem;
    height: 4rem;
    margin-top: 0.5rem;
    background-size: cover;
    }
}

@mixin right_languageAbility{
  width: 80rem;
  height: 100%;
  float: left;         
  li{
    float: left;
    width: 70rem;
    height: 3rem;
    margin-top: 5rem;
    margin-left: 5rem;
    background: rgb(233, 229, 229);
    position: relative;
    border-radius: 0 1rem 1rem 0;
    }
  p{ 
    padding: 0.35rem 1rem;
    position: absolute;
  }
  
  .languageSkill{
    position: absolute;
    border-radius: 0 1rem 1rem 0;;
    background: lightgreen;
    height: 100%;
    }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

html,
body{
  font-size: 10px;
}

.main_name{
  font-size: 2.2rem;
}
.container{
  width: 100%;
  height: 3300px;
  font-family: 'Karla', sans-serif;

  /*section1 header*/
  #header{
    width: 100%;
    height: 80px;
    // background-color: $maincolor;
    position: fixed;
    z-index: 9999;
    transition: 0.2s ease-in;

    .category{

      li:not(li:first-child){
        float: left;
        font-size: 2rem;
        margin: 2.85rem 2rem;
  
      }
      .logo{
        float: left;
        font-size: 4.7rem;
        font-family: 'Dancing Script', cursive;
        margin: 1.2rem 2rem;

      }

      li:not(li:first-child):hover{
        text-decoration: underline;
      }
    }

  }
  
  .main__article{
    width: 100%;
    height: 3100px;
    padding-top: 8rem;

    /*section2 메인 네이밍*/
    #main__tit{
      height: 400px;
      background: url('../img/study.png') no-repeat left;
      background-size: cover;

      h1{
        color: white;
        font-size: 9rem;
        font-family: 'Dancing Script', cursive;
        padding: 3rem;
      }
    }

    /*section3 information*/
    
    #info{
      width: 100%;
      height: 600px;
      position: relative;
      
      .info__topFixContainer{
        width: 100%;
        height: 25rem;
        background: white;
        position: relative;
        h1{
          position: absolute;
          top: 50%;
          left: 10%;
          margin: 3rem;
          font-family: 'Dancing Script', cursive;
          font-size: 5rem;
        }
      }
      .info__bottomContainer{
        width: 100%;
        height: 35rem;
        overflow: hidden;
        
        .info__me{
          width: 100%;
          height: 35rem;
          background: url('../img/info/info_background/blossom.png') center no-repeat;
          background-size: cover;
          position: relative;

          .infoMe__imgs{
            
            li{
              @include info_imgs;
              @include border;
              margin: 12.5rem 5rem 3rem 0rem;
            }
            .name{
              margin-left: 15rem;
              background: url('../img/info/info_icon/user.png');
            }
            .birth{
              background: url('../img/info/info_icon/calendar.png');
            }
            .school{
              background: url('../img/info/info_icon/school.png');

            }
        } 
          .infoMe__writing{
            clear: left;
            color: black;
            font-size: 1.8rem;
            font-family: 'Noto Sans KR', sans-serif;
            li{
              width: 11rem;
              height: 4rem;
              background: $maincolor;
              border-radius: 30px;
              text-align: center;
              margin-right: 4rem;
              padding-top: 0.7rem;
              float: left;
              
            }
            .name{
              margin-left: 14.5rem;
            }
          }
          .info__contact{
            width: 100%;
            height: 35rem;
            background: url('../img/info/info_background/flower.png') center no-repeat;
            background-size: cover;
            position: absolute;
            top: 35rem;
            transition: 0.5s ease-in;

            .info__imgs{
              li{
                @include info_imgs;
                @include border;
                margin: 12.5rem 13rem 3rem 0rem;
              }

              .phone{
                margin-left: 20rem;
                background: url('../img/info/info_icon/phone.png');
              }

              .email{
                background: url('../img/info/info_icon/email.png');
              }
            }
            .info__writing{
              clear: left;
              color: black;
              font-size: 1.8rem;
              font-family: 'Noto Sans KR', sans-serif;
              li{
                width: 20rem;
                height: 4rem;
                background: $maincolor;
                border-radius: 30px;
                text-align: center;
                margin-right: 4rem;
                padding-top: 0.7rem;
                float: left;
              }
              .phone{
                margin-left: 14.5rem;
              }
            }
          }

      }
    }

      .info__img1{
        width: 25rem;
        height: 35rem;
        border: 0.5px solid gray;
        background: url('../img/info/info_profile/me_charactor.png');
        position: absolute;
        top: 7rem;
        left: 60%;
        overflow: hidden;

        .info__img2{
          width: 25rem;
          height: 35rem;
          position: absolute;
          background: url('../img/info/info_profile/me_info.png');
          top: 35rem;
          transition: 0.5s ease-in;
        }

        
      }

  }
    
    /*section4 skills*/
    #skills{
      height: 800px;
      position: relative;
      .main_name_skills{
        @include main_name_padding;
       }
       .button_skills{
        position: absolute;
        font-size: 2rem;
        background: $maincolor;
        border: none;
        padding: 0.3rem;
        border-radius: 2rem;
        left: 70%;
        z-index: 100;
      }
      .button_skills:hover{
        background: $maincolor2;
        cursor: pointer;

      }
      .skills_container{
        width: 100rem;
        height: 50rem; 
        font-size: 2rem;
        margin: 2rem auto;
        overflow: hidden;
        position: relative;

        .skills_wrap{
          width: 200rem;
          height: 50rem;

          .web{
            float: left;
            width: 100rem;
            height: 100%;
            background: white;
  
            .left_languageImgs{
              @include left_languageImgs;
              .html{
                .htmlImg{
                  background: url('../img/skill/web/html.png') center no-repeat;
                  
                }
              }
              .css{
                .cssImg{
                  background: url('../img/skill/web/css.png') center no-repeat;
                }
              }
              .js{
                .jsImg{
                  background: url('../img/skill/web/javascript.png') center no-repeat;
                }
              }
  
              .scss{
                .scssImg{
                  background: url('../img/skill/web/scss.png') center no-repeat;
                }
              }
  
              .react{
                .reactImg{
                  background: url('../img/skill/web/react.png') center no-repeat;
                }
              }
  
              .jQuery{
                .jQueryImg{
                  background: url('../img/skill/web/jQuery.png') center no-repeat;
                }
              }
              
            }
  
            .right_languageAbility{
              @include right_languageAbility;
              .html{
                margin-top: 4rem;
                .html_skill{
                  width: 63rem;
                }
              }
  
              .css{
                .css_skill{
                  width: 63rem;
                }
              }
  
              .js{
                .js_skill{
                  width: 56rem;
                }
              }
              .scss{
                .scss_skill{
                  width: 59.5rem;
                }
              }
              .react{
                .react_skill{
                  width: 21rem;
                  
                }
                .studying{
                  position: absolute;
                  padding-top: 0.35rem;
                  right: 5rem;
                }
  
              }
              .jQuery{
                .jQuery_skill{
                  width: 42rem;
                }
              }
            }
            
          }
          .other{
            width: 100rem;
            height: 50rem; 
            position: absolute;
            transition: 0.5s ease-in;
            left: 100rem;
            background: white;

            .left_languageImgs{
              @include left_languageImgs;
              .c{
                .c_Img{
                  background: url('../img/skill/others/c.png') center no-repeat;
                }
              }
              .python{
                .python_Img{
                  background: url('../img/skill/others/python.png') center no-repeat;
                }
              }
              .java{
                .java_Img{
                  background: url('../img/skill/others/java.png') center no-repeat;
                }
              }
              .mysql{
                .mysql_Img{
                  background: url('../img/skill/others/mysql.png') center no-repeat;
                }
              }
            }

            .right_languageAbility{
              @include right_languageAbility;
              .c{
                margin-top: 4rem;
                .c_skill{
                  width: 52.5rem;
                }
              }
              .java{
                .java_skill{
                  width:63rem;
                }
              }
              .python{
                .python_skill{
                  width: 59.5rem;
                }
              }
              .mysql{
                .mysql_skill{
                  width: 35rem;
                }
              }
            }

          }
        }
      }

    }
    
    /*section5 achieve*/
    #achieve{
      height: 500px;
      .main_name_Achieve{
        @include main_name_padding;
      }
       
        .swiper-container{
          width: 50rem;
          height: 30rem;
        }
        .swiper-slide {
          text-align: center;
          font-size: 1.8rem;
          background: $maincolor; /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          &:hover{
            .achieve_link{
              opacity: 1;
            }
            
          }
          }
          .swiper-pagination-bullet{
            width: 1.5rem;
            height: 1.5rem;
          }
          .swiper-pagination-bullet-active{
            width: 1.5rem;
            height: 1.5rem;
            border: 3px solid $maincolor2;
            background: pink;
          }

          .swiper-button-prev:hover{
            color:$maincolor2;
            transform: translateX(-0.5rem);
          }

          .swiper-button-next:hover{
            color:$maincolor2;
            transform: translateX(0.5rem);
          }

          .achieveSite{
            width: 25rem;
            height: 30rem;

          }
          .tistory{
            position: relative;
            line-height: 2.5rem;
            .up{
              width: 10rem;
              height: 10rem;
              border-radius: 50%;
              background: url('../img/achieve/tistory.png');
              margin: 2rem 7.5rem;
              
            }
            
          }

          .achieve_link{
            position: absolute;
            width: 50rem;
            height: 30rem;
            padding-top: 12.8rem;
            text-decoration: underline;
            background: rgba(121, 115, 115, 0.5);
            opacity: 0;
            transition: 0.5s ease-in;
            a:hover{
              color: blue;
            }
          }

          .github{
            line-height: 2.5rem;
            .up{
              width: 10rem;
              height: 10rem;
              border-radius: 50%;
              background: url('../img/achieve/github.png');
              margin: 2rem 7.5rem;
            }
          }
        // }
      }

    
    /*section6 project*/
    #project{
      height: 800px;
      background-color: cornflowerblue;
    }
  }
  
  /*section7 footer*/
  #footer{
    height: 200px;
    background-color: darkblue;
  }
  
  
}

