@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import "../css/mixin";
@import "../css/variables";

// font-family: 'Dancing Script', cursive; 영어 필기체
// font-family: 'Noto Sans KR', sans-serif; 한국어
// font-family: 'Karla', sans-serif; 영어
/*
header: 80

main_article: 5320
section2 main_naming : 400
section3 info: 600
section4 skills: 800
section5 achieve:500
section6 project_web:2020
section7 project_others:1000

footer: 150   

entire: 5450

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 10px;
}

a:visited {
  color: black;
}

.main_name {
  font-size: 2.2rem;
}


.container {
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;

  /*section1 header*/
  #header {
    width: 100%;
    height: 8rem;
    // background-color: $maincolor;
    position: fixed;
    z-index: 9999;
    transition: 0.2s ease-in;

    .header_logo {
      float: left;
      font-size: 4.7rem;
      font-family: 'Dancing Script', cursive;
      margin: 1.2rem 2rem;

      @include mobile {
        width: 8rem;
        font-size: 3rem;
        margin: 1rem 2rem;

      }
    }

    @include mobile {
      width: 100%;
      height: 6rem;
    }

    .category {
      @include mobile {
        display: none;
        float: right;
        width: 10rem;
        height: 20rem;
        background: $maincolor;
        margin-top: 6rem;
      }

      .mobile_hidden {
        @include mobile {
          clear: left;
        }
      }

      li {
        float: left;
        font-size: 2rem;
        margin: 2.85rem 2rem;

        @include mobile {
          width: 10rem;
          height: 3rem;
          text-align: center;
          margin: 1rem auto 0rem auto;
          font-family: 'Karla', sans-serif;
        }

      }

      li:hover {
        text-decoration: underline;
      }

    }

    .hamburgerBt {
      @include desktop {
        display: none;
      }

      @include tablet {
        display: none;
      }

      @include mobile {
        display: block;
        position: absolute;
        right: 3.5rem;
        top: 2.2rem
      }
    }
  }

  .main__article {
    width: 100%;
    height: 100%; //540rem;
    padding-top: 8rem;

    @include mobile {
      padding-top: 6rem;
    }

    /*section2 메인 네이밍*/
    #main__tit {
      max-width: 100%;
      height: 50rem;
      background: url('../img/study.png') no-repeat left;
      background-size: cover;

      @include tablet {
        height: 35rem;
      }

      @include mobile {
        height: 25rem;
      }


      h1 {
        color: white;
        font-size: 9rem;
        font-family: 'Dancing Script', cursive;
        padding: 3rem;

        @include mobile {
          font-size: 4rem;
        }

      }

    }

    /*section3 information*/
    #info_a {
      padding-top: 5rem;
      width: 100%;
      height: 80rem;

      .wrap_a {
        width: 110rem;
        height: 60rem;
        margin: auto;

        .profile {
          display: flex;
          padding-top: 3rem;

          .profile_img {
            width: 23rem;
            height: 30rem;
            background: url('../img/info/info_profile/meInfo.png') no-repeat center;
            background-size: cover;
          }

          .profile_info {
            width: 87rem;
            height: 30rem;
            padding-left: 10rem;

            .name {
              font-size: 5rem;
              font-weight: 700;

              span {
                font-size: 3rem;
                letter-spacing: -0.3rem;
                padding-left: 1rem;
                color: gray;
                font-weight: 400;
              }
            }

            .job {
              width: 30rem;
              font-size: 2.5rem;
              text-align: center;
              padding: 0.5rem;
              margin-top: 0.5rem;
              background: $maincolor;
            }

            ul {
              margin-top: 2rem;
              font-size: 2.5rem;
              line-height: 5rem;

              .fa-blogger,
              .fa-rss,
              .fa-github {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
              }

              li:hover {
                color: $maincolor;
              }

            }

          }
        }

        .information {
          width: 110rem;
          height: 30rem;
          padding-top: 5rem;
          font-size: 2.5rem;

          h1 {
            font-size: 5rem;
            color: white;
            font-style: italic;
            text-shadow: -1px 0 rgb(93, 107, 240), 0 1px rgb(70, 87, 233), 1px 0 rgb(70, 87, 233), 0 -1px rgb(70, 87, 233);
            margin-bottom: 3rem;
          }

          p {
            line-height: 5rem;
          }
        }
      }
    }

    /*section4 skills*/
    #skills {
      height: 80rem;
      position: relative;

      @include mobile {
        height: 60rem;
      }

      .main_name_skills {
        @include main_name_padding;
      }

      .button_skills {
        position: absolute;
        font-size: 2rem;
        background: $maincolor;
        border: none;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
        right: 0.5rem;
        top: 5rem;
        z-index: 100;
        box-shadow: 0.2rem 0.02rem 0.8rem 0.03rem $boxshadow;

        @include tablet {
          font-size: 1.8rem;
        }

        @include mobile {
          font-size: 1.3rem;
          top: 6rem;
        }
      }

      .button_skills:hover {
        background: $maincolor2;
        cursor: pointer;

      }

      .skills_container_a {
        width: 110rem;
        height: 70rem;
        font-size: 2rem;
        margin: auto;

        .skill_wrap {
          width: 70rem;
          height: 60rem;
          position: relative;
          margin: auto;
          transform-style: preserve-3d; 
          transition: all 1s;

          .item{
            backface-visibility: hidden;
          }

          &:hover{
            transform: rotateY(180deg);

          }


          .web {
            width: 70rem;
            height: 60rem;
            background: rgba(218, 214, 214, 0.103);
            margin: auto;
            position:absolute; 
            transform: rotateY(0deg);


            .js,
            .jquery {
              div:first-child {
                p {
                  padding-left: calc((10rem - 2.625rem) / 2);
                }
              }
            }

            li {
              width: 60rem;
              margin: auto;
              height: calc(60rem / 7);
              display: flex;
              font-size: 3rem;
              border-bottom: 1px solid rgba(168, 167, 167, 0.527);

              &:hover {
                background: $maincolor;
              }

              div {
                display: table;

                p {
                  display: table-cell;
                  vertical-align: middle;
                }

                //로고 색깔
                .fa-html5 {
                  color: #E34F26;
                }

                .fa-css3-alt {
                  color: #1572B6;
                }

                .fa-js {
                  width: 3rem;
                  height: 3rem;

                  color: #F7DF1E;
                  background: black;
                }

                .fa-sass {
                  color: #CC6699;
                }

                .fa-react {
                  color: #61DAFB;
                }

                .fa-node {
                  color: #339933;
                }
              }

              div:first-child {
                width: 15rem;

              }

              div:nth-child(2) {
                width: 25rem;
              }

              div:last-child {
                width: 15rem;
              }


              .icon_logo {
                width: 10rem;
              }

            }
          }

          .other {
            width: 70rem;
            height: 60rem;
            background: rgba(218, 214, 214, 0.103);
            margin: auto;
            position:absolute; 
            transform: rotateY(180deg);

            .mysql {
              div:first-child {
                p {
                  padding-left: calc((10rem - 2.625rem) / 2);
                }
              }
            }

            li {
              width: 60rem;
              margin: auto;
              height: calc(60rem / 7);
              display: flex;
              font-size: 3rem;
              border-bottom: 1px solid rgba(168, 167, 167, 0.527);

              &:hover {
                background: $maincolor;
              }

              div {
                display: table;

                p {
                  display: table-cell;
                  vertical-align: middle;
                }

                .fa-java {
                  color: #007396;
                }

                .fa-cuttlefish {
                  color: #A8B9CC
                }

                .fa-python {
                  color: #3776AB
                }


              }

              div:first-child {
                width: 15rem;

              }

              div:nth-child(2) {
                width: 25rem;
              }

              div:last-child {
                width: 15rem;
              }

              .icon_logo {
                width: 10rem;
              }

            }
          }
        }
      }

    }

    /*section5 achieve*/
    #achieve {
      height: 60rem;

      .wrap {
        width: 110rem;
        height: 60rem;
        margin: auto;

        @include tablet {
          width: 70rem;
        }

        @include mobile {
          width: 30rem;
        }
      }

      .main_name_Achieve {
        @include main_name_padding;
      }

      .swiper-container {
        width: 50rem;
        height: 30rem;
        margin: auto;

        @include mobile {
          width: 25rem;
        }
      }

      .swiper-slide {
        text-align: center;
        font-size: 1.8rem;
        background: $maincolor;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-shadow: -0.3rem 0rem 1rem 0.1rem $boxshadow;

        &:hover {
          .achieve_link {
            opacity: 1;
          }
        }
      }

      .swiper-pagination-bullet {
        width: 1.5rem;
        height: 1.5rem;
      }

      .swiper-pagination-bullet-active {
        width: 1.5rem;
        height: 1.5rem;
        border: 0.3rem solid $maincolor2;
        background: pink;
      }

      .swiper-button-prev:hover {
        color: $maincolor2;
        transform: translateX(-0.5rem);
      }

      .swiper-button-next:hover {
        color: $maincolor2;
        transform: translateX(0.5rem);
      }

      .achieveSite {
        width: 25rem;
        height: 30rem;

      }

      .tistory {
        position: relative;
        line-height: 2.5rem;

        .up {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background: url('../img/achieve/tistory.png');
          margin: 2rem 7.5rem;

        }

      }

      .achieve_link {
        position: absolute;
        width: 50rem;
        height: 30rem;
        padding-top: 12.8rem;
        text-decoration: underline;
        background: $caption;
        opacity: 0;
        transition: 0.5s ease-in;

        a:hover {
          color: blue;
        }

        @include mobile {
          width: 25rem;
          font-size: 1.5rem;

          a {
            color: white;
          }
        }
      }

      .github {
        line-height: 2.5rem;

        .up {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background: url('../img/achieve/github.png');
          margin: 2rem 7.5rem;
        }
      }

    }


    /*section6 project_web*/
    #project_WEB {
      width: 100%;
      height: 210rem;

      @include tablet {
        height: 200rem;
      }

      @include mobile {
        height: 145rem;
      }

      .projectWeb_tit_wrap {
        width: 110rem;
        margin: auto;

        @include tablet {
          width: 70rem;
        }

        @include mobile {
          width: 30rem
        }
      }

      .main_name_ProjectWeb {
        @include main_name_padding;
      }

      .projectWeb_container {
        width: 100%;
        height: 125rem;
        margin: auto;


        li {
          width: 100%;
          height: 40rem;
          margin: 5rem auto 5rem auto;

          @include tablet {
            height: 30rem;
          }

          @include mobile {
            height: 20rem;
          }
        }

        .container {
          width: 100rem;
          height: 40rem;
          overflow: hidden;
          margin: auto;

          &:hover {
            .caption_web {
              opacity: 1;

            }
          }

          @include tablet {
            width: 70rem;
            height: 30rem;
          }

          @include mobile {
            width: 30rem;
            height: 20rem;
          }
        }

        .Project_WEB_mainTit {
          clear: left;
          width: 15rem;
          font-size: 3rem;
          margin: auto;
          padding: 0.5rem;
          border-bottom: 0.2rem solid black;
          text-align: center;

          @include mobile {
            width: 13rem;
            font-size: 2rem;

          }

        }

        .wrap {
          width: 110rem;
          background: rgba(218, 214, 214, 0.103);
          margin: auto;
          position: relative;

          .up {
            @include up_arrow;

          }

          .down {
            @include down_arrow;

          }

          @include tablet {
            width: 100%;
            height: 30rem;
          }

          @include mobile {
            width: 36rem;
            height: 20rem;
          }
        }

        .caption_web {
          width: 100rem;
          height: 40rem;
          background: $caption;
          position: absolute;
          opacity: 0;
          transition: 0.3s ease-in;


          .web_tit {
            font-size: 3rem;
            color: white;
            text-align: center;
            padding-top: 10rem;
          }

          .web_info {
            font-size: 2rem;
            text-align: center;
            padding-top: 4rem;
            line-height: 5rem;
            color: white;
          }

          @include tablet {
            width: 70rem;
            height: 30rem;
            opacity: 0.7;


          }

          @include mobile {
            width: 30rem;
            height: 20rem;
            opacity: 0.7;

            .web_tit {
              font-size: 2.5rem;
              padding-top: 3rem;
            }

            .web_info {
              padding-top: 2.7rem;
            }

          }



        }

        .project_web_link {
          width: 100%;
          height: 4rem;
          position: relative;
          margin-bottom: 5rem;

          .link {
            position: absolute;
            width: 15rem;
            height: 4rem;
            font-size: 1.5rem;
            border-radius: 3rem;
            border: 0.5px solid $maincolor2;
            padding-top: 1.1rem;
            text-align: center;
            left: 50%;
            margin-left: 3.5rem;

            &:hover {
              background: $maincolor;
            }

            @include mobile {
              margin-left: 1.5rem;
            }
          }



          .github {
            position: absolute;
            width: 15rem;
            height: 4rem;
            font-size: 1.5rem;
            border-radius: 3rem;
            border: 0.5px solid $maincolor2;
            padding-top: 1.1rem;
            text-align: center;
            left: 50%;
            margin-left: -14.5rem;

            &:hover {
              background: $maincolor;

            }
          }
        }

        .portfolio {
          @include project(293.8rem, 200rem, 80rem, '../img/project/web/EHPortfolio.png');
        }

        .cafe {
          @include project(361.1rem, 251.8rem, 102.1rem, '../img/project/web/cafeSroty.png');
        }

        .portfolio_second {
          @include project(453.5rem, 316.2rem, 136.1rem, '../img/project/web/portfolio_second.png');
        }

      }
    }

    /*section7 project_others*/
    .project_others {
      width: 100%;
      height: 110rem;

      @include tablet {
        height: 150rem;
      }

      @include mobile {
        height: 150rem;
      }

      .wrap {
        width: 110rem;
        height: 110rem;
        margin: auto;

        @include tablet {
          width: 70rem;
        }

        @include mobile {
          width: 30rem;
          height: 130rem;
        }
      }

      .main_name_ProjectOthers {
        @include main_name_padding;
      }

      .project_mainTit {
        width: 13rem;
        height: 3rem;
        border-bottom: 0.1rem solid black;
        font-size: 2rem;
        text-align: center;
        margin: auto;
      }

      .caption_title {
        font-size: 2rem;
        font-family: 'Noto Sans KR', sans-serif;
        margin: 5rem 0;
      }

      li {
        position: relative;
        float: left;
        width: 40rem;
        height: 33rem;
        text-align: center;
        line-height: 2.8rem;
        font-size: 1.5rem;
        font-family: 'Noto Sans KR', sans-serif;

        &:hover {
          .caption_project_others {
            opacity: 1;
          }
        }

        @include tablet {
          float: none;
          margin: auto;
        }

        @include mobile {
          float: none;
          width: 30rem;
          height: 23rem;
          margin: auto;
        }
      }

      .bluemarble {
        float: right;

        @include tablet {
          float: none;
          margin: auto;
          margin-top: 5rem;
        }

        @include mobile {
          clear: left;
          margin-top: 5rem;
        }
      }

      .project_others_Container {
        width: 110rem;
        height: 35rem;
        margin: 5rem auto;
        padding: 1.5rem 5rem;
        background: rgba(218, 214, 214, 0.103);

        @include tablet {
          width: 70rem;
          height: 80rem;
          background: white;
          padding: 0;
        }

        @include mobile {
          width: 30rem;
          height: 80rem;
          padding: 0;
          background: white;
        }

        .caption_project_others {
          width: 40rem;
          height: 25rem;
          background: $caption;
          position: absolute;
          top: 0;
          color: white;
          opacity: 0;
          transition: 0.3s ease-in;

          @include tablet {
            width: 40rem;
            height: 25rem;
            opacity: 0.6;
          }

          @include mobile {
            width: 30rem;
            height: 23rem;
            opacity: 0.6;
          }
        }

        .up {
          width: 40rem;
          height: 25rem;

          @include mobile {
            width: 30rem;
            height: 23rem;
          }
        }

        .explain_link {
          width: 40rem;
          height: 8rem;
          margin: auto;
          padding-top: 2.95rem;

          @include mobile {
            width: 30rem;
            font-size: 1rem;
            margin: 0;
          }

          a {
            margin: 0 1rem;

          }

          .github_link {
            width: 10rem;
            height: 5rem;
            padding: 1rem 3.9rem;
            border: 0.1rem solid $maincolor2;
            border-radius: 3rem;

            &:hover {
              background-color: $maincolor;
            }

            @include mobile {
              width: 3rem;
              height: 4rem;
              padding: 0.5rem 3rem;
            }
          }

          .pdf_link {
            width: 16rem;
            height: 5rem;
            padding: 1rem;
            border: 0.5px solid $maincolor2;
            border-radius: 3rem;

            &:hover {
              background-color: $maincolor;
            }

            @include mobile {
              width: 10rem;
              height: 4rem;
              padding: 0.5rem 1.6rem;
            }
          }
        }

        .chatting {

          @include mobile {
            width: 30rem;
            height: 40rem;
          }

          .chatting_project_img {
            width: 40rem;
            height: 25rem;
            background: url('../img/project/others/chatting.png') center no-repeat;

            @include mobile {
              width: 30rem;
              height: 23rem;
              background: url('../mediaQueryPhone/project/others/chatting_mobile.png') center no-repeat;
            }
          }

        }

        .bluemarble {
          .bluemarble_project_img {
            width: 40rem;
            height: 25rem;
            background: url('../img/project/others/bluemarble.png') center no-repeat;

            @include mobile {
              width: 30rem;
              height: 23rem;
              background: url('../mediaQueryPhone/project/others/bluemarble_mobile.png') center no-repeat;
            }
          }
        }

        .tel {
          .tel_project_img {
            width: 40rem;
            height: 25rem;
            background: url('../img/project/others/tel.png') center no-repeat;

            @include mobile {
              width: 30rem;
              height: 23rem;
              background: url('../mediaQueryPhone/project/others/tel_mobile.png') center no-repeat;
            }
          }
        }

      }

      @include tablet {
        .c_Container {
          width: 70rem;
          height: 35rem;
        }
      }

      @include mobile {
        .c_Container {
          width: 30rem;
          height: 35rem;
        }
      }

    }

    /*section8 contact*/
    #contactMe {
      width: 100%;
      height: 45rem;
      padding-top: 3rem;
      border-top: 1px solid rgba(219, 218, 218, 0.322);

      @include tablet {
        height: 50rem;
      }

      @include mobile {
        height: 50rem;
      }

      .wrap {
        width: 110rem;
        height: 40rem;
        margin: auto;

        @include tablet {
          width: 70rem;
          height: 50rem;
        }

        @include mobile {
          width: 36rem;
          height: 50rem;
        }

        .contact_container {
          width: 50rem;
          height: 30rem;
          margin: 3rem auto;
          border: 5px solid $maincolor2;
          border-radius: 1.5rem;

          .myName {
            width: 25rem;
            font-size: 3rem;
            margin: 2rem auto 0 auto;
            text-align: center;
            margin-bottom: 3rem;
          }

          @include tablet {
            margin: 5rem auto;
          }

          @include mobile {
            width: 30rem;
            height: 33rem;
          }
        }

      }

      li {
        margin: 3rem auto 0 3rem;
        font-size: 2rem;

        @include mobile {
          font-size: 1.5rem;
        }
      }

      .contact_name {
        width: 15rem;
        float: left;

        @include mobile {
          width: 9rem;
        }
      }

      .contact_content {
        width: 25rem;
        float: left;

        @include mobile {
          width: 20rem;
        }

      }

      a {
        &:hover {
          color: $maincolor2;
        }
      }
    }
  }

  /*section9 footer*/
  #footer {
    height: 15rem;
    background: $maincolor;

    .footer_logo {
      padding: 3rem;
    }

    .footer_info {
      padding-top: 5rem;

      li {
        text-align: center;
        font-size: 1.6rem;
        color: rgb(107, 101, 101);
        line-height: 2.3rem;
      }
    }
  }


}