@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

$maincolor: rgb(250,221,221);

@mixin info_imgs {
  width: 10rem;
  border-radius: 50%;
  float: left;
  height: 10rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

html,
body{
  font-size: 10px;
}

.main_name{
  font-size: 2.2rem;
}
.container{
  width: 100%;
  height: 3800px;
  font-family: 'Karla', sans-serif;

  #header{
    width: 100%;
    height: 80px;
    // background-color: $maincolor;
    position: fixed;
    z-index: 9999;
    transition: 0.2s ease-in;

    .category{

      li:not(li:first-child){
        float: left;
        font-size: 2rem;
        margin: 2.85rem 1rem;
  
      }
      .logo{
        float: left;
        font-size: 4.7rem;
        font-family: 'Dancing Script', cursive;
        margin: 1.2rem 2rem;

      }

      li:not(li:first-child):hover{
        text-decoration: underline;
      }
    }

  }
  
  .main__article{
    width: 100%;
    height: 3600px;
    padding-top: 8rem;
    #main__tit{
      height: 400px;
      background: url('../img/study.png') no-repeat left;
      background-size: cover;

      h1{
        color: white;
        font-size: 9rem;
        font-family: 'Dancing Script', cursive;
        padding: 3rem;
      }
    }
    
    #info{
      width: 100%;
      height: 600px;
      position: relative;
      
      .info__topFixContainer{
        width: 100%;
        height: 25rem;
        background: white;
        position: relative;
        h1{
          position: absolute;
          top: 50%;
          left: 10%;
          margin: 3rem;
          
        }
      }
      .info__bottomContainer{
        width: 100%;
        height: 35rem;
        overflow: hidden;
        
        
        .info__me{
          width: 100%;
          height: 35rem;
          background: url('../img/info/info_background/blossom.png') center no-repeat;
          background-size: cover;
          position: relative;

          .infoMe__imgs{
            
            li{
              @include info_imgs;
              margin: 12.5rem 5rem 3rem 0rem;
            }
            .name{
              margin-left: 15rem;
              background: url('../img/info/info_icon/user.png');
            }
            .birth{
              background: url('../img/info/info_icon/calendar.png');
            }
            .school{
              background: url('../img/info/info_icon/school.png');

            }
        } 
          .infoMe__writing{
            clear: left;
            color: black;
            font-size: 1.8rem;
            font-family: 'Noto Sans KR', sans-serif;
            li{
              width: 11rem;
              height: 4rem;
              background: $maincolor;
              border-radius: 30px;
              text-align: center;
              margin-right: 4rem;
              padding-top: 0.7rem;
              float: left;
            }
            .name{
              margin-left: 14.5rem;
            }
          }
          .info__contact{
            width: 100%;
            height: 35rem;
            background: url('../img/info/info_background/flower.png') center no-repeat;
            background-size: cover;
            position: absolute;
            top: 35rem;
            transition: 0.5s ease-in;

            .info__imgs{
              li{
                @include info_imgs;
                margin: 12.5rem 13rem 3rem 0rem;
              }

              .phone{
                margin-left: 20rem;
                background: url('../img/info/info_icon/phone.png');
              }

              .email{
                background: url('../img/info/info_icon/email.png');
              }
            }
            .info__writing{
              clear: left;
              color: black;
              font-size: 1.8rem;
              font-family: 'Noto Sans KR', sans-serif;
              li{
                width: 20rem;
                height: 4rem;
                background: $maincolor;
                border-radius: 30px;
                text-align: center;
                margin-right: 4rem;
                padding-top: 0.7rem;
                float: left;
              }
              .phone{
                margin-left: 14.5rem;
              }
            }
          }

      }
    }

      .info__img1{
        width: 25rem;
        height: 35rem;
        border: 0.5px solid gray;
        background: url('../img/info/info_profile/me_charactor.png');
        position: absolute;
        top: 7rem;
        left: 60%;
        overflow: hidden;

        .info__img2{
          width: 25rem;
          height: 35rem;
          position: absolute;
          background: url('../img/info/info_profile/me_info.png');
          top: 35rem;
          transition: 0.5s ease-in;
        }

        
      }

    
  }
    
    #certification{
      height: 600px;
      background-color: aquamarine;
      .swiper-container{
        width: 70rem;
        height: 50rem;

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff; /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          box-shadow: 0px 2px 10px 0px #848484;
      }
      }
    }
    
    #skills{
      height: 800px;
      background-color: beige;
    }
    
    #achieve{
      height: 400px;
      background-color: blue;
    }
    
    #project{
      height: 800px;
      background-color: cornflowerblue;
    }
  }

  #footer{
    height: 200px;
    background-color: darkblue;
  }
  
  
}

